#tc-toolstree-selection .fancytree-title{
    color: inherit;
    font-size: 1.1em;
}

#id_melistoolcreator_content .tooltip .tooltip-inner {
    word-break: normal;
}

#id_melistoolcreator_content .bwizard-steps{
    overflow: hidden;
    height: auto;
}

#id_melistoolcreator_steps .fa-key{
    color: #ffa700;
}

.fancytree-title .fa{
    width: 20px;
}

.melis-toolcreator-steps-tbl-cols .tcf-fa-checkbox{
    cursor: pointer;
    width: 25px;
}

.melis-toolcreator-steps li {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    color: #7c7c7c;
    font-weight: 600;
    margin-right: 0px;
    border-left: 1px solid #e8e4e4;
}

.melis-toolcreator-steps li:first-child{
    border-left: 0px;
}

.melis-toolcreator-steps li:after {
    position: static;
    right: auto;
    top: auto;
    height: auto;
    width: auto;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    content: normal;
    z-index: auto;
}

.melis-toolcreator-steps li.active {
    border-left: 0px;
}
.melis-toolcreator-steps li.active:after {
    position: absolute;
    right: -20px;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fafafa;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2;
    border-left-color: #981a1f;
}

.melis-toolcreator-steps li span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 40px;
    color: #7c7c7c;
    font-weight: 600;
    padding-left: 30px;
}

.melis-toolcreator-steps li.active span {
    color: #fff;
    cursor: default;
    padding-left: 30px;
}

.melis-tool-creator .steps-content{
    padding: 5px;
}

.melis-tool-creator .btn-steps:hover{
    background: #981a1f;
    color: #fff;
}

.melis-toolcreator-steps-table-list{
    max-height: 500px;
    overflow: auto;
}

.melis-toolcreator-steps-content form .text-danger li{
    list-style-type: none;
}

.melis-toolcreator-steps-content .melis-toolcreator-steps-table-list li .fa{
    margin-right: 15px;
}

.melis-toolcreator-steps-content .melis-toolcreator-steps-table-list li{
    cursor: pointer;
}

.melis-toolcreator-steps-content .melis-toolcreator-steps-table-list li:hover{
    background: #f1f1f1;
}

.melis-tc-summary-item{
    margin-bottom: 20px;
}

.melis-tc-summary-item-content{
    padding-left: 40px;
}

.melis-tc-final-content .fa{
    width: 20px;
    cursor: pointer;
}

.tcf-radio-box{
    display: block;
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    padding-left: 24px;
    margin-bottom: 7px;
}
.tcf-radio-box input{
    display: none;
}
.tcf-radio-box .tcf-radio-box-circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.tcf-radio-box:hover .tcf-radio-box-circle{
    background-color: #ccc;
}
.tcf-radio-box input:checked + .tcf-radio-box-circle{
    background-color: #981a1f;
}
.tcf-radio-box input:checked + .tcf-radio-box-circle:after{
    content: "";
    height: 8px;
    width: 8px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -55%);
}

.melis-tool-creator-display-warning{
    display: none;
}

@media (max-width: 1743px){
    .melis-tool-creator-display-warning{
        display: block;
    }
}